<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="The Movie DB">
        <setting label="API kulcs" type="text" id="tmdb_key" default=""/>
    </category>
    <category label="Letöltés">
        <setting label="nCore" type="lsep"/>
        <setting label="Felhasználónév" type="text" id="ncore_user"/>
        <setting label="Jelszó" type="text" id="ncore_pass"/>
        <setting label="qBittorrent" type="lsep"/>
        <setting label="Host" type="text" id="qbittorrent_host"/>
        <setting label="Felhasználónév" type="text" id="qbittorrent_user"/>
        <setting label="Jelszó" type="text" id="qbittorrent_pass"/>
        <setting label="Filmek mappa" type="text" id="qbittorrent_movies_path" default="/downloads/Filmek/"/>
        <setting label="Sorozatok mappa" type="text" default="/downloads/Sorozatok/" id="qbittorrent_tv_path"/>
        <setting label="API verzió" type="text" id="qbittorrent_api_version" default="2"/>
        <setting label="Egyéb" type="lsep"/>
        <setting label="Lejátszás megkezdése (%)" type="number" default="25" id="play_from"/>
    </category>
    <category label="Tárhely">
        <setting id="space_free" type="bool" label="Automatikus tárhely felszabadítás" default="false"/>
        <setting id="space_free_min_space" type="number" label="Minimális tárhely (GB)" default="10"
                 visible="eq(-1,true)"
                 subsetting="true"/>
    </category>
    <category label="Értesítések">
        <setting label="Email" type="lsep"/>
        <setting label="Host" id="email_host" type="text"/>
        <setting label="Port" id="email_port" type="text"/>
        <setting label="Felhasználónév" id="email_user" type="text"/>
        <setting label="Jelszó" id="email_pwd" type="text"/>
        <setting label="Címzett 1" id="email_address_0" type="text"/>
        <setting label="Címzett 2" id="email_address_1" type="text"/>
        <setting label="Címzett 3" id="email_address_2" type="text"/>
        <setting label="Címzett 4" id="email_address_3" type="text"/>
        <setting label="Címzett 5" id="email_address_4" type="text"/>
    </category>
    <category label="Web Interface">
        <setting id="web_interface" type="bool" label="Engedélyezve" default="false"/>
        <setting id="web_interface_user" type="text" label="Felhasználónév" default="admin" visible="eq(-1,true)"/>
        <setting id="web_interface_pwd" type="text" label="Jelszó" default="admin" visible="eq(-2,true)"/>
        <setting label="Port" id="web_interface_port" type="number" default="8082" visible="eq(-3,true)"/>
        <setting label="Debug" id="web_interface_debug" type="bool" default="false" visible="eq(-4,true)"/>
    </category>
</settings>