<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="The Movie DB">
        <setting label="API kulcs" type="text" id="tmdb_key" default=""/>
    </category>
    <category label="Letöltés">
        <setting label="nCore" type="lsep"/>
        <setting label="Felhasználónév" type="text" id="ncore_user"/>
        <setting label="Jelszó" type="text" id="ncore_pass"/>
        <setting label="qBittorrent" type="lsep"/>
        <setting label="Host" type="text" id="qbittorrent_host"/>
        <setting label="Felhasználónév" type="text" id="qbittorrent_user"/>
        <setting label="Jelszó" type="text" id="qbittorrent_pass"/>
        <setting label="Filmek mappa" type="text" id="qbittorrent_movies_path" default="/downloads/Filmek/"/>
        <setting label="Sorozatok mappa" type="text" default="/downloads/Sorozatok/" id="qbittorrent_tv_path"/>
        <setting label="Egyéb" type="lsep"/>
        <setting label="Lejátszás megkezdése (%)" type="number" default="25" id="play_from"/>
    </category>
    <category label="Tárhely">
        <setting id="space_free" type="bool" label="Automatikus tárhely felszabadítás" default="false"/>
        <setting id="space_free_min_space" type="number" label="Minimális tárhely (GB)" default="10"
                 visible="eq(-1,true)"
                 subsetting="true"/>
    </category>
</settings>